{% extends "DahouetBundle::index.html.twig" %}
{% block aside %}
<div id="reseaux">
    <p>Suivez-nous sur les réseaux sociaux</p>
    <a href="https://fr-fr.facebook.com/ycvalandre"><img src="../../../web/bundles/images/FB.png"/></a>
    <a href="https://twitter.com/ycvalandre"><img src="../../../web/bundles/images/Tw.png"/></a>
</div>
<div id="connection">
    {% block message %}
        {% endblock %}
    <div id="bandeauInt">Connection</div>
    
    {{ form(form) }}
    
</div>
<div id="infChall">
    <div id="bandeauInt">Challenge</div>
    
</div>
<div id="recherche">
    <div id="bandeauInt">Recherche</div>
    <div id="champ">
        <input type="text" name="recherche" id="cherche" placeholder="recherche">
        <div id="rech"><a id="lien" href="{{ path('dahouet_enConstruction') }}"><input name="rechercher" value="Rechercher" type="submit"></a></div>
    </div>
</div>


{% endblock %}