{% extends "::layoutBase.html.twig" %}


{% block content %}
    <section id="isValid">
        <p> Votre inscription a bien été prise en compte</p>
        <p>En attente de validation par l'organisation</p>
        <a href="{{ path('dahouet_retour')}}"><input name="valider" value="Retournez à l'accueil" type="submit"></a>
    </section>
    
{% endblock %}